<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

.dropdown
    button.dropbtn Dropdown
        i.fa.fa-angle-down
    .dropdown-content
        a(href="#") 1
        a(href="#") 2
        a(href="#") 3
