input( type="radio" id="man" name="radio" class="radioButton")
label(for="man" class='radioText') Мужчина
input( type="radio" id="woman" name="radio" class="radioButton")
label(for="woman" class='radioText') Женщина