.containerDropDown
    input(class='textDropDown')
    include ../FieldInput/arrowButton/index

    .containerDropDownSelect
        .containerDropDownItems
            .textDropDownItems Взрослые
            .buttonDropDownItems -
            .textDropDownItems 0
            .buttonDropDownItems +
        .containerDropDownItems
            label(class='textDropDownItems') Дети
            button(class='buttonDropDownItems') -
            label(class='textDropDownItems') 0
            button(class='buttonDropDownItems') +
        .containerDropDownItems
            label(class='textDropDownItems') Младенцы
            button(class='buttonDropDownItems') -
            label(class='textDropDownItems') 0
            button(class='buttonDropDownItems') +