<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        br
        h1 Toggle button
        include Components/FieldInput/Toggle/index
        br
        h1 star button
        include Components/FieldInput/RateButton/index
        br
        h1 H1
        br
        h1 textField
        include Components/FieldInput/textField/index
        br
        h1 dropDown
        include Components/dropDown/index
        br
        h1 maskTextField
        include Components/FieldInput/maskTextField/index

        br
        h1 Button
        include Components/Button/index

        br
        h1 RangeSlider
        include Components/FieldInput/RangeSlider/index

        br
        h1 radioButton
        include Components/FieldInput/RadioButton/index

        br
        h1 logo img
        include Components/logo/logo

        br
        h1 logo text
        include Components/menu/index

        br
        h1 header
        include blocks/header/index


        script(src='./main.js')