.containerDropDown select {
  -webkit-appearance: button;
  width: 320px;
  height: 44px;
  background: #FFFFFF;
  /* Dark 25% */

  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */


  /* Dark 75% */

  color: rgba(31, 32, 65, 0.75);
}

.containerDropDown::before {
  content: 'q';
  width: 44px;
  height: 44px;
  position: absolute;
left: 50%;


  font-size: 24px;
  line-height: 24px;



  /* Dark 50% */

  color: rgba(31, 32, 65, 0.5);
}