.rating {
  float:left;
}

/* Конструкция :not(:checked) работает как фильтр, чтобы браузеры, которые не поддерживают псевдокласс :checked не применяли эти свойства. Все браузеры, поддерживающие псевдокласс :checked, поддерживают и псевдокласс :not(), так что фильтр должен отработать правильно. */
.rating:not(:checked) > input {
  display: none;
}

.rating:not(:checked) > label {
  float:right;
  width:1em;
  padding:0 .1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:200%;
  line-height:1.2;
  color:#ddd;
  content: url("../img/star_border.svg");
}

.rating:not(:checked) > label:before {
  content: url("../img/star.svg");
}

.rating > input:checked ~ label {
  color: blue;
  content: url("../img/star.svg");
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {

}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {

}
.rating > label:active {
  position:relative;
  top:2px;
  left:2px;
}