.contanerHeader
    include ../../Components/logo/logo
    include ../../Components/menu/index
    include ../../Components/Button/index
    +FieldButton('buttonWhite', 'LOGIN')
    +FieldButton('buttonNew', 'REGISTER')